*{

    padding: 200px;
    
    margin: 200px;
    
    }
    
    
    
    
    body{
    
    background-image: url("imagenes.jpg");
    
    background-repeat: no-repeat;
    
    }
    
    .fondotecnologia{
    
        background-image: url("");
        
        background-repeat: no-repeat;
        
        }
    
    
    .imagenes{
    
    position: relative;
    
     
    
    width: 4500px;
    
    height: 200px;
    
    border-radius: 00px;
    
    background-repeat: no-repeat;
    
     
    
    left: 400px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    .contenedor{
    
     
    
    height: 4000px;
    
     
    
    }
    
    .texto{
    
    font-size: 39px;
    
    text-align: justify;
    
    color: rgba(8, 8, 8, 0.959);
    
     
    
    }

    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagensociales{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("discursobolivar.jpg");
        
        }
        .imagenes.jpg{
        
         
        
            background-repeat: no-repeat;
            
            float:left;
            
            height: 200px;
            
            width: 260px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("imagenes.jpg");
        }
    
        
        .textosociales{
        
        text-align: justify;
        
        color: rgb(199, 8, 8);
        
        font-size: 20px;
        
        
        
        }
    
    
      .textomateticas{
    
    font-size: 50px;
    
    text-align:center;
    
    color: rgba(8, 8, 8, 0.959);
    
     
    
    }

    .imagenesmatematicas{

 

        background-repeat: no-repeat;
        
        float:center;
        
        height: 300px;
        
        width: 270px;
        
        margin-left: 17px;
        
        margin-right:17px;
        
        background-image: url("");
    }
    .imagenesmatematicas{

 

        background-repeat: no-repeat;
        
        float:center;
        
        height: 300px;
        
        width: 270px;
        
        margin-left: 17px;
        
        margin-right:17px;
        
        background-image: url("fatorizacion3.jpg");
    }

.imagenessociales{

 

    background-repeat: no-repeat;
    
    float:center;
    
    height: 3000px;
    
    width: 3000px;
    
    margin-left: 100px;
    
    margin-right:100px;
    
    background-image: url("revolucion.png");
}

.imagenesingles{

 

    background-repeat: no-repeat;
    
    float:center;
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("");
}

.imagenestecnologuia{

 

    background-repeat: no-repeat;
    
    float:center;
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("");
}

