*{

    padding: 200px;
    
    margin: 200px;
    
    }
    
    
    
    
    body{
    
    background-image: url("");
    
    background-repeat: repeat;
    
    }
    
    .fondomate{
        background-image: url("Fondo8.png");
        
        background-repeat: repeat;
        
        }
        
        .fondoingles{
            background-image: url("in2.png");
            
            background-repeat: repeat;
            
            }
    
    .imagenes{
    
    position: relative;
    
     
    
    width: 4500px;
    
    height: 200px;
    
    border-radius: 00px;
    
    background-repeat: no-repeat;
    
     
    
    left: 400px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    .contenedor{
    
     
    
    height: 4000px;
    
     
    
    }
    
    .texto{
    
    font-size: 39px;
    
    text-align: justify;
    
    color: rgba(8, 8, 8, 0.959);
    
     
    
    }

    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagensociales{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("discursobolivar.jpg");
        
        }
        .imagenes.jpg{
        
         
        
            background-repeat: no-repeat;
            
            float:left;
            
            height: 200px;
            
            width: 260px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("imagenes.jpg");
        }
    
        
        .textosociales{
        
        text-align: justify;
        
        color: rgb(199, 8, 8);
        
        font-size: 20px;
        
        
        
        }
    
    
      .textomatematicas{
    
    font-size: 50px;
    
    text-align:center;
    
    color: rgba(8, 8, 8, 0.959);
    
     
    
    }

    .imagenesmatematicas{

 

        background-repeat: no-repeat;
        
        float:center;
        
        height: 4500px;
        
        width: 1043px;
        
        margin-left: 0px;
    
        margin-right:0px;
        
        background-image: url("ft9.jpg");
    }
    
    .imagenesmatematicas3{

 

        background-repeat: no-repeat;
        
        float:center;
        
        height: 473px;
        
        width: 1043px;
        
        margin-left: 5px;
        
        margin-right:7px;
        
        background-image: url("fat3.jpg");
        
    }

.imagenessociales{

 

    background-repeat: no-repeat;
    
    float:center;
    
    height: 3000px;
    
    width: 3000px;
    
    margin-left: 100px;
    
    margin-right:100px;
    
    background-image: url("");
}

.imagenesingles{

 

    background-repeat: no-repeat;
    
    float: center;
    
    height: 725px;
    
    width: 999px;
    
    margin-left: 12px;
    
    margin-right:5px;
    
    background-image: url("in1.png");
}
.imagenesingles2{

 

    background-repeat: no-repeat;
    
    float: center;
    
    height: 293px;
    
    width: 210px;
    
    margin-left: 400px;
    
    margin-right:5px;
    
    background-image: url("in3.jpeg");
}

.imageneingles3{

 

    background-repeat: no-repeat;
    
    float: center;
    
    height: 234px;
    
    width: 264px;
    
    margin-left: 351px;
    
    margin-right:5px;
    
    background-image: url("in4.jpeg");
}
.imageningles4{

 

    background-repeat: no-repeat;
    
    float: center;
    
    height: 234px;
    
    width: 264px;
    
    margin-left: 351px;
    
    margin-right:5px;
    
    background-image: url("in5.jpeg");
}

.imagenestecnologuia{

 

    background-repeat: no-repeat;
    
    float:center;
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("");
}

